// ...existing code...
@use "../abstracts/variables";

.nav {
  display: grid;
  background-color: variables.$primary-color;

  /* wrap items to next row when space is insufficient */

  grid-template-columns: repeat(3, minmax(10rem, 1fr)) 2fr;

  &__item {
    z-index: 2;
    justify-self: left;
    align-self: center;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    &:hover {
      background-color: variables.$primary-color-dark;

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &__item:link,
  &__item:visited {
    color: variables.$font-color;
    text-decoration: none;
  }
}

.search-area {
  display: flex;
  width: min-content;
  height: 100%;
  position: relative;

  :not(:last-child) {
    margin-right: 0.5rem;
  }

  padding: 1rem 2rem;

  input {
    display: flex;
    min-width: 5rem;
    border-radius: 5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    padding-right: 2.5rem;
  }

  img {
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(1px);
  }
}

.btn {
  &__search {
    position: absolute;
    right: 30px;
    transform: translateY(4px);
    border: none;
    background-color: transparent;
    &:hover {
      background-color: antiquewhite;
      border-radius: 45%;
    }
  }
}
