$primary-color: #a8fbd3;
$primary-color-light: #cfffea;
$primary-color-dark: #6ee6ba;

$secondary-color: #ffa8a8;
$secondary-color-light: #ffd1d1;
$secondary-color-dark: #e66e6e;
$font-color: #333333;
$background-color: #ffffff;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$border-radius: 4px;
